NEXT_PUBLIC_COURSE_CODE=COMP2521
NEXT_PUBLIC_SERVER_URL=http://localhost:4001

################################################################################
# This should be set if the frontend is deployed under the sub-path of a domain
# https://nextjs.org/docs/app/api-reference/config/next-config-js/basePath

NEXT_PUBLIC_BASE_PATH=
