################################################################################
# Networking

SERVER_PORT=4001
CLIENT_URL=http://localhost:3000

################################################################################
# Authentication

JWT_SECRET=

# This should be set if the server is deployed externally, i.e., outside UNSW
UNSW_AUTH_URL=

# The master password should be hard to guess
# Generate the password hash here: https://bcrypt-generator.com/
MASTER_PASSWORD_HASH=

################################################################################
# Database

# IMPORTANT: When switching between SQLite and PostgreSQL, the export in
#            src/db/db.ts must be updated

# Local development/CSE with SQLite
DB_FILE_NAME=file:test.db

# Railway with PostgreSQL
# DATABASE_URL=

################################################################################
