################################################################################
# Networking

SERVER_PORT=4001
CLIENT_URL=http://localhost:3000

################################################################################
# Authentication

# This should be set if the server is deployed externally, i.e., outside UNSW
UNSW_AUTH_URL=

# Generate a secret here: https://randomkeygen.com/ (JWT Secrets)
JWT_SECRET=

# The master password should be hard to guess
# Generate the hash here: https://bcrypt-generator.com/
MASTER_PASSWORD_HASH=

################################################################################
# Database

# IMPORTANT: When switching between SQLite and PostgreSQL, the export in
#            src/db/db.ts must be updated

# SQLite (for local development or deployment on CSE)
DB_FILE_NAME=test.db

# PostgreSQL (for deployment on Railway)
# DATABASE_URL=

################################################################################
