SERVER_PORT=4001
DB_FILE_NAME=file:instance/test.db
CLIENT_URL=http://localhost:3000

################################################################################
# Authentication

JWT_SECRET=

# This should be set if the server is deployed externally, i.e., outside UNSW
UNSW_AUTH_URL=

################################################################################
